@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600;700&display=swap');

.App {
  width: 100%;
  min-height: 100vh;
}


/* header */
.header {
  width: 100%;
  height: 90px;
  padding: 0 7%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;

  backdrop-filter: blur(14px);

  z-index: 100;

  nav {
    display: flex;
    gap: 45px;

    a {
      font-size: 15px;
      color: #6B7280;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #5B7CFA;
      }
    }
  }

  .mainTitle {
    .h1 {
      color: #6B5BFA;
      font-size: 32px;
      font-family: 'sans-serif';
      font-weight: 600;

    }
  }

  .menu {
    display: flex;
    gap: 20px;
    font-size: 13px;
  }
}

/* hero */
.hero {
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(80px, 16vw, 500px);
}

/* left */
.heroLeft {
  flex: 1;
  display: flex;
  flex-direction: column;

  .subBox {
    display: flex;
  }

  .subBox img {
    width: 280px;

    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-14px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .subText {
    font-size: 14px;
    color: #5B7CFA;
    font-weight: 600;
    padding-top: 20px;
  }

  h2 {
    margin-top: 20px;
    padding-bottom: 20px;

    font-size: 42px;
    line-height: 1.2;
  }

  p {
    margin-top: 25px;

    color: #6B7280;
    line-height: 1.7;
  }
}

.startBtn {
  margin-top: 35px;

  width: 140px;
  height: 54px;

  border: none;
  border-radius: 14px;

  background: linear-gradient(135deg,
      #5072fc,
      #6f88eb);

  color: white;

  backdrop-filter: blur(18px);

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;

  &:hover {
    transform: translateY(-3px);

    box-shadow:
      0 10px 20px rgba(91, 124, 250, 0.3);
  }
}




/* right */
.heroRight {
  flex: 1;

  display: flex;
  justify-content: center;
}


.todoCard {
  position: relative;

  width: 430px;

  padding: 35px;

  border-radius: 32px;

  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(20px);

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.06);


  h3 {
    font-size: 24px;
    margin-bottom: 35px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

    list-style: none;

    li {
      display: flex;
      align-items: center;

      gap: 15px;

      padding-bottom: 18px;

      border-bottom: 1px solid #E5E7EB;

      font-size: 15px;

      div {
        width: 24px;
        height: 24px;

        border-radius: 8px;

        border: 2px solid #D1D5DB;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .done {
      color: #9CA3AF;

      text-decoration: line-through;

      div {
        border: none;
        background: #5B7CFA;
        color: white;
      }
    }
  }
}

.progress {
  margin-top: 35px;

  span {
    font-size: 14px;
    color: #6B7280;
  }

  .bar {
    width: 100%;
    height: 10px;

    margin-top: 12px;

    border-radius: 999px;

    background: #E5E7EB;

    overflow: hidden;

    .fill {
      width: 66%;
      height: 100%;

      background:
        linear-gradient(90deg,
          #5B7CFA,
          #8BA4FF);

      border-radius: 999px;
    }
  }
}


/* search */
.search {
  height: 475px;
  background: #EEF2FF;
  margin-bottom: 100px;


}

.searchBox {
  margin: 0 auto;
  margin-top: 60px;

  width: 520px;

  padding: 50px;

  border-radius: 30px;

  //background: white;
  text-align: center;
  justify-content: center;

  h4 {
    margin-bottom: 40px;

    font-size: 25px;
  }
}

.inputBox {
  width: 100%;
  height: 60px;

  padding-left: 20px;

  border-radius: 18px;


  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.05);

  input {
    flex: 1;

    border: none;
    background: transparent;
    outline: none;

    font-size: 15px;


  }

  button {
    width: 48px;
    height: 48px;

    margin-right: 6px;

    border: none;
    border-radius: 14px;

    background: #5B7CFA;
    color: white;

    cursor: pointer;

    transition: 0.3s;

    img {
      width: 30px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.searchBtnBox {
  display: flex;
  gap: 60px;
  text-align: center;
  justify-content: center;

  .sBtn>p {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
  }
}

.keywordBtn {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  background-color: #FFFFFF;
  border: 1px solid #C7C7C7;

  .material-symbols-rounded {
    color: #5B7DFF;
  }

  &:hover{
    background-color: #8474df85;
  }

}


/* ======= 강의 영상 ======== */
.video {
  width: 92%;
  max-width: 1400px;
  height: 580px;
  background-color: #5B7DFF;
  border-radius: 60px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;

  margin-bottom: 100px;

  h3 {
    font-size: 30px;
    color: white;
    padding: 40px 0 40px;
  }

  .youtubeBox {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;

    .videoClass {
      width: 280px;
      height: 375px;
      background-color: #F5F5F5;
      border-radius: 20px;
      text-align: left;

      >p {
        color: #B5ABAB;
        font-size: 13px;
      }
    }
  }

}


/* ======= 바로가기 부분 ======== */
.goalSection {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;

  margin-bottom: 150px;


  .goalInner {
    display: flex;
    border-radius: 20px;
    width: 670px;
    height: 265px;
    background-color: #d7e0fd;




    .goalText {
      text-align: left;
      padding: 60px 0px 20px 40px;

      >span {
        font-size: 24px;
        font-weight: 600;
      }

      >p {
        font-size: 15px;
        padding-bottom: 40px;
      }

      >button {
        width: 160px;
        height: 50px;

        border: none;
        border-radius: 14px;

        background: linear-gradient(135deg,
            #5072fc,
            #6f8cff);

        color: white;

        backdrop-filter: blur(8px);

        font-size: 15px;
        font-weight: 600;

        cursor: pointer;

        transition:
          transform 0.35s ease,
          box-shadow 0.35s ease,
          background 0.35s ease;

        box-shadow:
          0 10px 20px rgba(80, 114, 252, 0.2);

        &:hover {
          transform: translateY(-4px);

          box-shadow:
            0 18px 30px rgba(80, 114, 252, 0.28);

          background: linear-gradient(135deg,
              #5d7cff,
              #7b96ff);
        }

        &:active {
          transform: translateY(-1px) scale(0.98);
        }
      }

    }

    .goalImg {
      padding: 40px 30px 10px;
    }

  }

}

.footer {
  height: 200px;
  padding: 2% 14%;
  background-color: #02083be1;

  .mainTitle {
    h1 {
      color: #6B5BFA;
      font-size: 32px;

    }
  }
}