

.exploreSearch {
  height: 475px;
  background: #EEF2FF;
  margin-bottom: 100px;


}


/* ======= 강의 영상 ======== */
.video2 {
  width: 100%;
  max-width: 1420px;
  height: 580px;
  //background-color: #5B7DFF;
  border-radius: 60px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;

  margin-bottom: 100px;

  h3 {
    font-size: 30px;
    color: rgb(22, 22, 22);
    padding: 40px 0 40px;
  }

  .youtubeBox {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;

    .videoClass {
      width: 280px;
      height: 375px;
      //background-color: #424a5e;
      border-radius: 20px;
      text-align: left;
        display: block;
  text-decoration: none;
  color: inherit;

      >p {
        color: #B5ABAB;
        font-size: 13px;
      }

      
    }
  }

  .videoClass img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}

}

.videoClass span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}